<div class="rssContent">
    <div class="rssContainer"  >
        <div class="rssCenterHelper">
            <div class="rssPanel">
                <div class="row">
                    <div class="col-xs-12"><h1>Voeg een rss feed toe</h1></div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <form>
                            <div class="form-group">
                                <label for="txtRssName">Naam</label>
                                <input type="text" class="form-control" id="txtRssName" placeholder="Naam" ng-model="addRssCtrl.rssFeedName">
                            </div>
                            <div class="form-group">
                                <label for="txtFeedUrl">Feed url</label>
                                <input type="text" class="form-control" id="txtFeedUrl" placeholder="Feed url" ng-model="addRssCtrl.rssFeedUrl">
                            </div>

                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">

                        <button type="button" class="btn btn-default pull-right"
                                ng-click="addRssCtrl.handleCancelClick()">Annuleren</button>
                        <span class="buttonSpacer pull-right"> </span>
                        <button type="button" class="btn btn-success pull-right"
                                ng-click="addRssCtrl.handleSaveClick()">Opslaan</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>